// General colors
$main-color:                          #24717c;
$secondary-color:                     #4f8e96;
$background-color:                    #fff;
$divider-color:                       #969696;
$badge-color:                         #969696;
// screen size
$desktop-screen-min:                  769px !default;
$phone-screen-min:                    569px !default;
$small-phone-screen-min:              415px !default;